.elements__label {
  min-height: 79px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 21px;
  padding-right: 30px;
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
}
