.popup__close {
  width: 40px;
  padding-bottom: 40px;
  background-image: url(../../../images/icon-close.svg);
  background-size: cover;
  background-repeat: no-repeat;
  transform: translate(400px, -70px);
  cursor: pointer;
  border: none; /* обнулили стили для кнопки по умолчанию */
  background-color: transparent;
}

.popup__close:hover {
  opacity: .6;
}

/* убрали стили по умолчанию для кнопки при нажатии */
.popup__close:active, .popup__close:focus {
  border: none;
  outline: none;
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
  .popup__close {
    width: 36px;
    padding-bottom: 36px;
    background-size: 36px auto;
    transform: translate(400px, -50px);
  }
}

@media screen and (min-width: 426px) and (max-width: 600px) {
  .popup__close {
    width: 26px;
    padding-bottom: 26px;
    background-size: 26px auto;
    transform: translate(320px, -55px);
  }
}

@media screen and (min-width: 361px) and (max-width: 425px) {
  .popup__close {
    width: 26px;
    padding-bottom: 26px;
    background-size: 26px auto;
    transform: translate(295px, -55px);
  }
}

@media screen and (max-width: 360px) {
  .popup__close {
    width: 26px;
    padding-bottom: 26px;
    background-size: 26px auto;
    transform: translate(235px, -55px);
  }
}