.popup-add-cards__form-input-container {
  padding: 0;
  margin: 0 auto;
  border: 0;
  padding-top: 34px;
  padding-bottom: 48px;
}

@media screen and (max-width: 425px) {
  .popup-add-cards__form-input-container {
    padding-top: 48px;
  }
}